.title {
  padding: 1% 5%;
  margin: 1% 39%;
  color: rgb(175, 175, 62);
}
.trailer {
  padding: 1% 5%;
  margin: 1% 22%;
}
.btn {
  border: none;
  background-color: rgb(175, 175, 62);
  color: black;
  padding: 0.5%;
  margin: 1% 6%;
  border-radius: 8%;
}
.btns {
  margin: 0% 43%;
}
